{
  "singleQuote": true,
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": ["*.json"],
      "options": {
        "printWidth": 60
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
